Repository aesara-devs/aesara, pull requests merged in 2022-07, with the labels that each got.

#1027 Implement work-around for numba issue causing a segfault on M1 when using literal_unroll() with bools.
  aesara/link/numba/dispatch/tensor_basic.py
Labels: bug, backend compatibility, Numba

#1025 Remove useless complex conjugate `Op`s from graphs
  aesara/sparse/basic.py
  aesara/sparse/type.py
  aesara/tensor/math.py
  aesara/tensor/math_opt.py
  tests/sparse/test_basic.py
  tests/sparse/test_var.py
  tests/tensor/test_math.py
  tests/tensor/test_math_opt.py
Labels: enhancement, graph rewriting

#1024 Remove superfluous test value warning in `Elemwise` fusion rewrite
  aesara/tensor/basic_opt.py
  tests/tensor/test_basic_opt.py
Labels: enhancement, refactor

#1033 Fix NumPy docstring link
  doc/dev_start_guide.rst
Labels: documentation

#1035 Fix a `Scan` Cython issue involving output storage lengths
  aesara/scan/c_code/scan_perform.c
  aesara/scan/scan_perform.pyx
  aesara/scan/scan_perform_ext.py
  tests/scan/test_basic.py
Labels: bug, important, Scan

#1016 Fix `Op.perform` type hint
  aesara/graph/op.py
Labels: bug, typing

#1042 Fix warning in `ReplaceValide.replace_all_validate_remove`
  aesara/graph/features.py
Labels: bug, graph rewriting

#1049 Use context managers with `open`
  aesara/compile/compiledir.py
  aesara/compile/profiling.py
  aesara/configdefaults.py
  aesara/link/c/cmodule.py
  aesara/link/c/cutils.py
  aesara/link/c/lazylinker_c.py
  aesara/misc/pkl_utils.py
  doc/tutorial/loading_and_saving.rst
  tests/misc/test_pkl_utils.py
Labels: bug, important, C-backend

#1053 Make `topogroup_optimizer` use `order` argument
  aesara/graph/opt.py
Labels: bug, graph rewriting

#1056 Fix `size` issue when using broadcastable dimensions in multivariate `RandomVariable`s
  aesara/tensor/random/basic.py
  tests/tensor/random/test_basic.py
Labels: bug

#1059 Implement generalized gamma distribution
  aesara/tensor/random/basic.py
  tests/tensor/random/test_basic.py
Labels: enhancement, random variables, Op implementation

#1061 Add numba implementation for split
  aesara/link/numba/dispatch/tensor_basic.py
  tests/link/test_numba.py
Labels: enhancement, Numba, Op implementation

#1064 Fix the type hints in `aesara.printing`
  aesara/compile/profiling.py
  aesara/link/vm.py
  aesara/printing.py
  setup.cfg
  tests/test_printing.py
Labels: enhancement, typing

#1066 Enable type checking for NumPy types
  .pre-commit-config.yaml
  aesara/graph/basic.py
  aesara/link/c/op.py
  aesara/printing.py
  aesara/tensor/__init__.py
  aesara/tensor/random/type.py
  setup.cfg
Labels: enhancement, important, NumPy compatibility, typing

#1070 Fix typing error in numba MakeVector impl
  aesara/link/numba/dispatch/tensor_basic.py
  tests/link/test_numba.py
Labels: bug, Numba

#1071 Prevent `Print` from being constant folded
  aesara/printing.py
  tests/test_printing.py
Labels: bug, Op implementation

#1073 Convert Numba scalar outputs to `ndarray`s
  aesara/link/basic.py
  aesara/link/numba/linker.py
  tests/link/test_numba.py
Labels: bug, refactor, Numba

#1077 Add some more numba special functions
  aesara/link/numba/dispatch/scalar.py
  tests/link/test_numba.py
Labels: enhancement, Numba, SciPy compatibility

#1087 Change R-operator to L-operator in `Lop` docstring
  aesara/gradient.py
Labels: bug, documentation

#744 Implement `aesara.tensor.matmul`
  aesara/tensor/math.py
  aesara/tensor/nlinalg.py
  tests/tensor/test_math.py
Labels: enhancement, NumPy compatibility, tensor algebra, Op implementation

#1080 Add a JAX implementation for `FillDiagonal`
  aesara/link/jax/dispatch.py
  tests/link/test_jax.py
Labels: enhancement, JAX, Op implementation
