Repository aesara-devs/aesara, pull requests merged in 2022-12, with the labels that each got.

#1340 Add mission statement
  README.rst
  doc/mission.rst
Labels: documentation, important

#1346 Add JAX implementation for `LogNormalRV`
  aesara/link/jax/dispatch/random.py
  tests/link/jax/test_random.py
Labels: JAX, random variables

#1362 Add `HalfNormalRV` JAX implementation
  aesara/link/jax/dispatch/random.py
  tests/link/jax/test_random.py
Labels: enhancement, JAX, random variables

#1372 Use `jax.Array` for type checking in tests
  requirements.txt
  tests/link/jax/test_basic.py
Labels: bug, JAX

#1370 Add `HalfCauchyRV` JAX implementation
  aesara/link/jax/dispatch/random.py
  tests/link/jax/test_random.py
Labels: enhancement, JAX

#1364 Add `random` alias to `aesara.tensor.random.basic`
  aesara/tensor/random/basic.py
  tests/tensor/random/test_basic.py
Labels: enhancement, random variables

#1374 Downgrade flake8 pre-commit for py37 compatibility
  .pre-commit-config.yaml
Labels: testing

#1380 Set nightly build project.name in pyproject.toml
  .github/workflows/nightly.yml
  setup.py
Labels: bug, CI
