Repository aesara-devs/aesara, pull requests merged in 2023-03, with the labels that each got.

#1465 Add mention of tags and ARM environments to developer start guide
  doc/dev_start_guide.rst
Labels: documentation, enhancement

#1450 Add GenGammaRV jax implementation
  aesara/link/jax/dispatch/random.py
  tests/link/jax/test_random.py
Labels: enhancement, JAX

#1476 Create a base type for shared RNG variables
  aesara/compile/sharedvalue.py
  aesara/tensor/random/var.py
Labels: enhancement, random variables, graph objects, typing

#1481 Adjust `RandomTypeSharedVariable.__str__`
  aesara/tensor/random/var.py
  tests/tensor/random/test_var.py
Labels: enhancement, random variables

#1480 Add JAX implementation for `InvGammaRV`
  aesara/link/jax/dispatch/random.py
  tests/link/jax/test_random.py
Labels: JAX, random variables
